<div class="form-group  text-field span-none   col-sm-4">
    <label for="Form-field-CostInvoice-total_net">
        Total EUR Net </label>
    <!-- Text -->
    <input type="text" disabled="disabled" value="<?= $model->getEurNet() ?>" placeholder=""
           class="form-control" autocomplete="off" maxlength="255">
</div>
<div class="form-group  text-field span-none   col-sm-4">
    <label for="Form-field-CostInvoice-total_net">
        Total EUR Tax </label>
    <!-- Text -->
    <input type="text" disabled="disabled" value="<?= $model->getEurTax() ?>" placeholder=""
           class="form-control" autocomplete="off" maxlength="255">
</div>
<div class="form-group  text-field span-none   col-sm-4">
    <label for="Form-field-CostInvoice-total_net">
        Total EUR Gross </label>
    <!-- Text -->
    <input type="text" disabled="disabled" value="<?= $model->getEurGross() ?>" placeholder=""
           class="form-control" autocomplete="off" maxlength="255">
</div>