<style>
    .eurValue {
        font-size: 10px;
    }
</style>
<div class="container">
    <div class="row">

        <div class="col-xs-12 text-center">
            <a href="https://viamage.com">
                <img src="https://viamage.com/themes/viamage/assets/images/text-logo.png" style="max-width: 230px;"/>
            </a>

        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <h2>Invoice #{{ invoice.invoice_number }}</h2>
            <br/>
        </div>
        <div class="col-xs-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Issuer:</h4>
                </div>
                <div class="panel-body">
                    <h4>{{ issuer.company }}</h4>
                    {{ issuer.address1 }}{% if issuer.address2 %}<br/>{{ issuer.address2 }}{% endif %}<br/>
                    {{ issuer.zip }} {{ issuer.city }}<br/>
                    {% if issuer.vatNumber %}VAT: {{ issuer.vatNumber }}<br/>{% endif %}
                    {% if issuer.regNumber %}REG: {{ issuer.regNumber }}<br/>{% endif %}
                </div>
            </div>
        </div>
        <div class="col-xs-5 col-xs-offset-2 text-right">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Receiver:</h4>
                </div>
                <div class="panel-body">
                    <h4>{{ client.company }}</h4>
                    {{ client.address1 }}{% if client.address2 %}<br/>{{ client.address2 }}{% endif %}<br/>
                    {{ client.zip }} {{ client.city }}<br/>
                    {% if client.vatNumber %}VAT: {{ client.vatNumber }}<br/>{% endif %}
                    {% if client.regNumber %}REG: {{ client.regNumber }}<br/>{% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- / end client details section -->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Title</th>
            <th>Unit Net Price</th>
            <th>Units</th>
            <th>Tax Rate</th>
            <th>Unit Gross Price</th>
            <th>Total Net Price</th>
            <th>Tax Amount</th>
            <th>Total Gross Price</th>
        </tr>
        </thead>
        <tbody>
        {% for good in goods %}
            <tr>

                <td>{{ good.title }}</td>
                <td><strong>{{ good.unitNetPrice|money }}</strong> {% if invoice.currency != 'EUR' %}<span
                            class="eurValue">{{ good.unitEurNetPrice|money }}</span>{% endif %}</td>
                <td><strong>{{ good.units }}</strong></td>
                <td><strong>{{ good.taxRate }}%</strong></td>
                <td><strong>{{ good.unitGrossPrice|money }}</strong> {% if invoice.currency != 'EUR' %}<span
                            class="eurValue">{{ good.unitEurGrossPrice|money }}</span>{% endif %}</td>
                <td><strong>{{ good.totalNetPrice|money }}</strong> {% if invoice.currency != 'EUR' %}<span
                            class="eurValue">{{ good.totalEurNetPrice|money }}</span>{% endif %}</td>
                <td><strong>{{ good.totalTaxAmount|money }}</strong> {% if invoice.currency != 'EUR' %}<span
                            class="eurValue">{{ good.totalEurTaxAmount|money }}</span>{% endif %}</td>
                <td><strong>{{ good.totalGrossPrice|money }}</strong> {% if invoice.currency != 'EUR' %}<span
                            class="eurValue">{{ good.unitEurGrossPrice|money }}</span>{% endif %}</td>

            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4"></td>
            <td>Total:</td>
            <td><strong>{{ totals.totalNet|money }}</strong> {% if invoice.currency != 'EUR' %}<span
                        class="eurValue">{{ totals.totalEurNet|money }}</span>{% endif %}</td>
            <td><strong>{{ totals.totalTax|money }}</strong> {% if invoice.currency != 'EUR' %}<span
                        class="eurValue">{{ totals.totalEurTax|money }}</span>{% endif %}</td>
            <td><strong>{{ totals.totalGross|money }}</strong> {% if invoice.currency != 'EUR' %}<span
                        class="eurValue">{{ totals.totalEurGross|money }}</span>{% endif %}</td>
        </tr>
        </tfoot>
    </table>
    <hr>
    <div class="row">
        <div class="col-xs-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Details</h4>
                </div>
                <div class="panel-body">
                    <p>Sale date: {{ invoice.getSaleDate() }}</p>
                    <p>Issue date: {{ invoice.getIssueDate() }}</p>
                    <p>Due date: {{ invoice.getDueDate() }}</p>

                </div>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="span7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Thank your for your business!</h4>
                    </div>
                    <div class="panel-body">
                        <p><strong>Transfer Details:</strong></p>
                        <p></p>
                        <hr>
                        <p>Feel free to contact us anytime at <a href="mailto:info@viamage.com">info@viamage.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>