subject = "Your invoice due date has passed!"
==

Hello {{ name }},

We kindly remind you that invoice number {{- invoice_number -}} due date has passed at {{- due_date -}}.

Unpaid invoices cause us to hold providing our services.

In case you need any additional details, please contact us.

==

<p>Hello {{ name }}</p>

<p>We kindly remind you that invoice number {{ invoice_number }} due date has passed at {{ due_date }}.</p>

<p>Unpaid invoices cause us to hold providing our services.</p>

<p>In case you need any additional details, please contact us.</p>