subject = "Your invoice due date is passing soon"
==

Hello {{ name }},

We kindly remind you that invoice number {{- invoice_number -}} due date is passing at {{- due_date -}}.

Best Regards,

==

<p>Hello {{ name }}</p>

<p>We kindly remind you that invoice number {{ invoice_number }} due date has passed at {{ due_date }}.</p>

<p>Best Regards,</p>