subject = "New invoice from Viamage"
==

Hello {{ name }},

We have issued a new invoice {{ invoice_number }}, you can find it under following link:

{{ invoice_link }}


Best Regards,

==

<p>Hello {{ name }}</p>

<p>We have issued a new invoice {{ invoice_number }}, you can find it by <a href="{{ invoice_link }}">clicking here</a></p>

<p>or by going to this location: {{ invoice_link }}</p>

<p>Best Regards,</p>