<style>
    .buttons-widget {

    }

    .buttons-widget a {
        margin: 5px 5px 5px 0;
        width: 200px;
        text-align: center;
    }

    .dash-container {
        background: rgba(255, 255, 255, 0.72);
        margin: 0 15px 0 15px;
        padding: 15px;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
    }

    .money-value p.positive:after {
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
    }

    .money-value p.negative:after {
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;
        -webkit-font-smoothing: antialiased;
        content: "\f102";
    }

    .noTaxes {
        font-weight: bold;
    }

    .yesTaxes {
        font-weight: bold;
    }
</style>
<div class="scoreboard">
    <div data-control="toolbar">
        <div class="scoreboard-item title-value">
            <h4>Incoming Invoices</h4>
            <p class="positive"><?= $incomingCount ?></p>
            <p class="description">Value: <?= MoneyFormatter::format($incomingValue) ?></p>
        </div>

        <div class="scoreboard-item title-value">
            <h4>Outgoing Invoices</h4>
            <p class="positive"><?= $outgoingCount ?></p>
            <p class="description">Value: <?= MoneyFormatter::format($outgoingValue) ?></p>
        </div>

        <div class="scoreboard-item title-value money-value">
            <h4>Profit</h4>
            <p class="<?php if($positiveCit){ ?>positive<?php } else { ?>negative<?php } ?>"><?= MoneyFormatter::format($profit) ?></p>
            <p class="description"><?php if($positiveProfit) { ?>All clear, captain!<?php } else { ?>Find some costs, or
                you will pay...<?php } ?></p>
        </div>

        <div class="scoreboard-item title-value money-value">
            <h4>CPT</h4>
            <p class="<?php if($positiveCit){ ?>positive<?php } else { ?>negative<?php } ?>"><?= MoneyFormatter::format($cit) ?></p>
            <p class="description"><?php if($positiveProfit) { ?>No Corporate Tax it seems.<?php } else { ?>...that
                much<?php } ?></p>
        </div>
        <div class="scoreboard-item title-value money-value">
            <h4>Unpaid Invoices</h4>
            <p><?= $outgoingUnpaid ?></p>
            <p class="description"><?= MoneyFormatter::format($outgoingUnpaidValue) ?></p>
        </div>
        <div class="scoreboard-item title-value money-value">
            <h4>Unpaid Cost Invoices</h4>
            <p><?= $incomingUnpaid ?></p>
            <p class="description"><?= MoneyFormatter::format($incomingUnpaidValue) ?></p>
        </div>
    </div>
</div>

<hr>
<div class="container-fluid dash-container">
    <div class="row text-center">
        <img src="https://viamage.com/themes/viamage/assets/images/text-logo.png"/>
        <table class="table sortable">
            <thead>
            <tr>
                <th>Date</th>
                <th>Issuer</th>
                <th>Receiver</th>
                <th>Type</th>
                <th>Value Net</th>
                <th>Value Gross</th>
            </tr>
            </thead>
            <tbody style="text-align: left">
            <?php foreach($invoices as $invoice) { ?>
            <?php if($invoice->getType() === 'outgoing') { ?>
            <tr>
                <td><a href="<?= \Backend::url('viamage/invoicer/invoices/preview/') . '/'.$invoice->id ?>"><?= $invoice->getIssueDate() ?></a></td>
                <td><?= $invoice->user->email ?></td>
                <td><?= $invoice->customer->company ?></td>
                <td>Outgoing</td>
                <td>+<?= $invoice->getEurNet() ?> EUR</td>
                <td>+<?= $invoice->getEurGross() ?> EUR</td>
            </tr>
            <?php } else { ?>
            <tr>
                <td><a href="<?= \Backend::url('viamage/invoicer/costinvoices/update/') . '/'.$invoice->id ?>"><?= $invoice->getIssueDate() ?></a></td>
                <td><?= $invoice->seller ?></td>
                <td><?= $invoice->user->email ?></td>
                <td>Incoming</td>
                <td>-<?= $invoice->getEurNet() ?> EUR</td>
                <td>-<?= $invoice->getEurGross() ?> EUR</td>
            </tr>
            <?php } ?>
            <?php } ?>
            </tbody>
            <tfoot style="text-align: left;">
            <tr>
                <td colspan="3"></td>
                <td style="text-align: right;">Total:</td>
                <td><span class="<?php if($positiveProfit) { ?>noTaxes<?php } else { ?>yesTaxes<?php }?>"><?= MoneyFormatter::format($profit) ?></span></td>
                <td><span class="<?php if($positiveProfit) { ?>noTaxes<?php } else { ?>yesTaxes<?php }?>"><?= MoneyFormatter::format($profitGross) ?></span></td>

            </tr>
            </tfoot>
        </table>

        <hr>

    </div>

    <a class="btn btn-primary" href="<?= \Backend::url('viamage/invoicer/statistics/export') ?>">Export</a>
</div>