<?php
$goods = $this->getGoodsFor($model);
$diffCurrency = $model->currency !== 'EUR';
?>

<table class="table">

    <thead>
    <tr>
        <th>Title</th>
        <th>Unit Net Price</th>
        <th>Units</th>
        <th>Tax Rate</th>
        <th>Unit Gross Price</th>
        <th>Tax Amount</th>
        <th>Total Net Price</th>
        <th>Total Gross Price</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach($goods as $good){ ?>
    <tr>
        <td><strong><?= $good->title ?></strong></td>
        <td><strong><?= MoneyFormatter::format($good->unitNetPrice) ?></strong> <?php if($diffCurrency){ ?>(<?= MoneyFormatter::format($good->unitEurNetPrice) ?>)<?php } ?></td>
        <td><strong><?= $good->units ?></strong></td>
        <td><strong><?= $good->taxRate ?>%</strong></td>
        <td><strong><?= MoneyFormatter::format($good->unitGrossPrice) ?></strong> <?php if($diffCurrency){ ?>(<?= MoneyFormatter::format($good->unitEurGrossPrice) ?>)<?php } ?></td>
        <td><strong><?= MoneyFormatter::format($good->totalTaxAmount) ?></strong> <?php if($diffCurrency){ ?>(<?= MoneyFormatter::format($good->totalEurTaxAmount) ?>)<?php } ?></td>
        <td><strong><?= MoneyFormatter::format($good->totalNetPrice) ?></strong> <?php if($diffCurrency){ ?>(<?= MoneyFormatter::format($good->totalEurNetPrice) ?>)<?php } ?></td>
        <td><strong><?= MoneyFormatter::format($good->totalGrossPrice) ?></strong> <?php if($diffCurrency){ ?>(<?= MoneyFormatter::format($good->totalEurGrossPrice) ?>)<?php } ?></td>
    </tr>
    <?php } ?>
    </tbody>
</table>