<?php
$dueStatus = $this->getDueStatus($model);
?>
<br/>
<?php if($model->reminders_count) { ?>
<p><?= $model->reminders_count ?> reminder<?php if($model->reminders_sent > 1) {?>s<?php }?> sent, last one at <?= $model->last_reminder ?></p>
<?php } ?>

<div class="form-buttons">
    <div class="loading-indicator-container">
        <a class="btn btn-primary"
           href="<?= Backend::url('viamage/invoicer/invoices/update') . '/'. $this->widget->form->model->id ?>">Edit</a>
        <a target="_blank" class="btn btn-primary"
           href="<?= $this->getInvoiceLink($this->widget->form->model) ?>">Go to Link</a>
        <a target="_blank" class="btn btn-primary" data-request="onGeneratePdf" data-request-data="invoice_id: <?= $this->widget->form->model->id ?>">Generate PDF</a>
        <?php if(!$model->is_sent) { ?>
        <button data-request="onSendNewInvoice" data-request-data="invoice_id: <?= $model->id ?>" class="btn btn-danger"
                data-request-confirm="Are you sure?">Send to
            customer
        </button>
        <?php } ?>
        <?php if($dueStatus === 'passed') { ?>
        <button data-request="onSendPassedEmail" data-request-data="invoice_id: <?= $model->id ?>"
                class="btn btn-danger" data-request-confirm="Are you sure?">Send
            reminder
        </button>
        <?php } elseif($dueStatus === 'soon') { ?>
        <button data-request="onSendPassingSoonEmail" class="btn btn-danger"
                data-request-data="invoice_id: <?= $model->id ?>" data-request-confirm="Are you sure?">Send
            reminder
        </button>
        <?php } ?>
    </div>
</div>