<p>Available Variables:</p>
<ul>
    <li>$L - current user invoice prefix or login (if prefix not set)</li>
    <li>$C - count this month (one+ digits, eg 1, 2, 10)</li>
    <li>$YC - count this year (one+ digits, eg 1, 2, 10)</li>
    <li>$CC - count this month (two+ digits, eg 01, 02, 10)</li>
    <li>$YCC - count this year (two+ digits, eg 01, 02, 10)</li>
    <li>$M - current month (one/two digits, eg 1, 2, 10)</li>
    <li>$MM - current month (two digits, eg 01, 02, 10)</li>
    <li>$Y - current year (two digits, eg 19, 20)</li>
    <li>$YY - currenty year (four digits, eg 2019, 2020)</li>
</ul>